.header{
  display:flex;
  border-bottom:1px solid;
  padding-bottom:10px;
}

.logo{
  display:flex;
  align-items: center;
}



.nav li{
  display:inline-block;

}

.logo h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color:MediumAquamarine;

}
